<div class="jumbotron mt-4">
    <h1 class="display-4">
        Notes App Node.js and MongoDB Atlas
    </h1>
    <p class="lead">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit consequuntur quia ut optio beatae repellendus.
    </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure optio aperiam explicabo sit perspiciatis eaque voluptatem fugiat non quo iusto.
    </p>
    <a href="https://www.faztweb.com" class="btn btn-primary">FaztWeb</a>
</div>